:root {
  --fg-color: black;
  --bg-color: white;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  min-width: 0;
  min-height: 0;
  font-family: inherit;
  font-size: inherit;
  font-variant-ligatures: none;
  color: inherit;
  background: inherit;
  border-color: inherit;
  border-radius: 0;
  line-height: inherit;
  touch-action: manipulation;
  appearance: none;
}

*:focus {
  outline: none;
}

html,
body {
  font-family: sans-serif;
  color: var(--fg-color);
  accent-color: var(--fg-color);
  caret-color: var(--fg-color);
  background: var(--bg-color);
}

body {
  padding: 2rem 0.5rem;
  max-width: 512px;
  margin: auto;
  /* Fall back on vh units if dvh doesn't work (i.e., not on mobile). */
  min-height: 100vh;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
}

button {
  user-select: none;
  -webkit-user-select: none;
}

ul {
  margin-left: 1em;
}

input[type="checkbox"] {
  appearance: auto;
}

code {
  font-family: monospace, monospace;
  background: #e8e8e8;
  padding: 0 0.25rem;
}

hr {
  width: 100%;
  border: none;
  border-top: 1px solid lightgray;
}
